.movie-container {
  padding: 4rem 5vw;
  background-color: #121212;
  color: #f5f5f5;
  min-height: 100vh;
}

.movie-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-header img {
  width: 350px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.movie-details {
  flex: 1;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.movie-details h1 {
  font-size: 2.8rem;
  color: #e50914;
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  background-color: #1e1e1e;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  width: fit-content;
  color: gold;
}

.rating .star-icon {
  color: gold;
  font-size: 1.5rem;
}

.movie-details .paragrafo {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #1e1e1e;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.movie-details p:last-child {
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}

.sinopse-container {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  background-color: #1e1e1e;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.mosaic-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.not-found-message {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #e50914; /* vermelho Netflix */
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* botão */

.watch-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.watch-button:hover {
  background-color: #f6121d;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.watch-button:active {
  transform: translateY(0);
}

.watch-button-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .watch-button {
    width: 100%;
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 768px) {
  .movie-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movie-details h1 {
    font-size: 2.2rem;
  }

  .movie-details p {
    font-size: 1rem;
    justify-content: center;
  }

  .rating {
    justify-content: center;
  }
}
